*{
    font-family: futura-pt, sans-serif;
}
nav{
    
    text-transform:capitalize;
    font-weight: 500;
}
a{
    text-decoration: none;
    color: $blue-dark;
}

p{
    line-height: 1.5;
}
input{
    padding: 0.5rem 0.938rem;
    font-family: futura-pt, sans-serif;
    font-size: 1.25rem;
    border: none;

}