.body-container {
  .body-title {
    font-weight: 500;
    margin-bottom: 1.25rem;
  }
  .wrapper-text {
    p:nth-of-type(2) {
      margin-top: 1.2rem;
    }
    .youtube {
      min-height: 28.125rem;
      min-width: 50rem;
    }
  }
  .wrapper-video {
    .ytb-edito {
      margin-top: 0.5rem;
      font-size: 0.9rem;
      font-weight: 500;
      padding-top: 0;
    }
  }
  .wrapper-bg-2 {
    .bg-color {
      min-height: 41.625rem;
      background-color: $blue-green;
    }
    .bg-right {
      min-height: 41.625rem;
      background-image: url(../img/bg-right.jpg);
      background-size: cover;
    }
    .bg-top,
    .bg-bottom {
      max-width: 33rem;
      max-height: 25rem;
    }
    .bg-top {
      background-image: url(../img/bg-top.jpg);
      background-size: cover;
    }
    .bg-bottom {
      background-image: url(../img/bg-bottom.jpg);
      background-size: cover;
    }
  }
  .wrapper-bg-3 {
    .bg-color-violet {
      background-color: $violet;
      min-height: 58.313rem;
    }
    .img-small {
      max-width: calc(100vw / 3);
    }
    .img-big {
      max-width: calc(100vw / 2.4);
    }
  }
  .wrapper-bg-text {
    border-bottom: 2px solid #efefef;
    .bg-left-text {
      max-width: calc(100vw / 2.4);
      max-height: calc(100vw / 2.4);
    }
    .bg-blue {
      background-color: $blue-light;
      max-height: calc(100vw / 2.4);
    }
    .bg-text {
      align-self: center;
      font-size: 1.875rem;
      line-height: 1.4;
      font-weight: 500;
      a {
        margin-top: 1.9rem;
      }
    }
  }
}
.footer {
  &__logo {
    max-width: 11.75rem;
    padding-bottom: 4.125rem;
  }
  &__top__social {
    margin-top: 10px;
    li {
      display: inline-block;
      img {
        width: 40px;
      }
    }
  }
  &__middle__title,
  &__right__list,
  &__right__title,
  &__bottom__left__title,
  &__bottom__middle__title {
    margin: 0;
    font-size: 1em;
    font-weight: 450;
  }
  &__middle__list {
    margin-top: 30px;
  }
  &__right__text{
    margin-top: 30px;

  }
  &__right__sign{
    margin-top: 10px;
    &__email{
      width: 23.938rem;
      background-color: #eee;
    }
    &__btn{
      padding:0.438rem 1.875rem;
      color: #fff;
      font-weight: 500;
      background-color: $blue-dark;

    }
  }
  &__bottom__left__group,
  &__bottom__middle__group{
    margin-top: 4.125rem;
  }
  &__bottom__left__list,
  &__bottom__middle__list{
    margin-top: 5px;
  }
}

@media screen and (min-width: 100rem) {
  body {
    .wrapper {
      .body-container {
        .wrapper-bg-3 {
          .img-small {
            max-width: 33.313rem;
          }
          .img-big {
            max-width: 41.663rem;
          }
        }
      }
    }
  }
}
