.body-container {
  .body-title {
    font-weight: 500;
    margin-bottom: 1.25rem;
  }
  .wrapper-text {
    p:nth-of-type(2){
      margin-top : 1.2rem;
    }
    .youtube {
      min-height: 28.125rem;
      min-width: 50rem;
    }
  }
  .wrapper-video {
    .ytb-edito {
      margin-top: 0.5rem;
      font-size: 0.9rem;
      font-weight: 500;
      padding-top: 0;
    }
  }
  .wrapper-bg-2 {
    .bg-color {
      min-height: 41.625rem;
      background-color: $blue-green;
    }
    .bg-right {
      min-height: 41.625rem;
      background-image: url(../img/bg-right.jpg);
      background-size: cover;
    }
    .bg-top,
    .bg-bottom {
      max-width: 33rem;
      max-height: 25rem;
    }
    .bg-top {
      background-image: url(../img/bg-top.jpg);
      background-size: cover;
    }
    .bg-bottom {
      background-image: url(../img/bg-bottom.jpg);
      background-size: cover;
    }
  }
  .wrapper-bg-3{
    .bg-color-violet{
      background-color: $violet;
      min-height: 58.313rem;
    }
    .img-small{
    
      max-width: calc(100vw/3);

    }
    .img-big{
      max-width: calc(100vw/2.40);
    }
  }
}
