body {
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  background-color: #f3f3f3;

  .wrapper {
    max-width: 1600px;
    background-color: #fff;
  
    .nav-item {
      max-height: 120px;
      padding-top: 20px;
      .logo{
        align-items: center;
      }
      nav {
        .menu {
          display: flex;
          align-items: center;
          border-bottom: 2px solid #eee;
          li {
            margin: 0 10px;
            padding: 0 10px;
            list-style: none;
            &:nth-child(-n +8){
            max-width: 80px;
            }
            &:nth-child(8){
              color: $orange;
              
            }
            &:nth-child(9){
              margin-left: auto;
              color: $blue-dark;
            }
          }
        }
        .subnav{
          display: flex;
          align-items: center;
          list-style: none;
          li{
            margin: 0 10px;
            padding: 0 10px;
          }

        }
      }
    }
    .hero-item {    
    }
  }
}
