@import "mixin.scss";
body {
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  background-color: #f3f3f3;

  .wrapper {
    max-width: 1600px;
    background-color: #fff;
    .hero-grid {
      @include grid;
      grid-template-rows: minmax(100px, 100vh);
      grid-template-areas: ". header header header header header header header header header header .";
    }
    .body-container {
      @include grid;
      row-gap: 0;
      grid-template-rows: auto;
      grid-template-areas:
        ". . . title title title title title title . . ."
        ". . . text text text text text text . . .";
   
      .body-title {
        grid-area: title;
        @include center-body;

      }
      .body-text {
        grid-area: text;
        @include center-body;
      }
    }
  }
} 
