@import "mixin.scss";
body {
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  background-color: #f3f3f3;

  .wrapper {
    max-width: 1600px;
    background-color: #fff;
    .hero-grid {
      @include grid;
      padding-top: 0;
      grid-template-rows: minmax(100px, 100vh);
      grid-template-areas: ". header header header header header header header header header header .";
      padding-bottom: 0;
    }
    .body-container {
      .wrapper-text {
        @include grid-text;
        @include gap;
        row-gap: 0;
        grid-template-rows: auto;
        grid-template-areas:
          ". . . title title title title title title . . ."
          ". . . text text text text text text . . .";
        &:nth-of-type(2),
        &:nth-of-type(4) {
          padding-top: 0;
        }

        .body-title {
          grid-area: title;
          @include center-body;
        }
        .body-text {
          grid-area: text;
          @include center-body;
          &:nth-of-type(1) {
            padding-top: 0;
          }
          &:nth-of-type(2) {
            grid-row: 4;
          }
        }
      }
      .wrapper-video {
        @include grid-text;
        .youtube {
          grid-column: 4 / span 6;
          min-height: 28.125rem;
          width: 100%;
        }
        .ytb-edito {
          grid-row: 4;
          grid-column: 4 / span 6;
        }
      }
      .wrapper-bg {
        @include grid-bg;
        padding-top: 0;

        .bg-yellow-item {
          min-height: 930px;
          grid-column: 6 / span 12;
          background-color: $yellow;
        }
        .left-bg {
          grid-column: 2/6;
          grid-row: 2 / span 10;
          align-self: center;
        }
      }
      .right-bg {
        grid-row: 5 / 9;
        grid-column: 8 / span 12;
        align-self: center;
      }
      .wrapper-bg-2 {
        @include grid-bg-2;
        .bg-color {
          grid-column: 1 / span 4;
          grid-row: 1 / span 12;
        }
        .bg-right {
          grid-column: 4/ 6;
          grid-row: 3;
          align-self: center;
        }
        .bg-top {
          min-width: 33.3rem;
          grid-column: 2 / span 5;
          grid-row: 2;
        }
        .bg-bottom {
          min-width: 33.3rem;
          grid-column: 2 / span 5;
          grid-row: 4;
        }
      }
      .wrapper-img {
        @include grid-img;
        .img-poster {
          grid-column: 2 / span 10;
          max-width: 100%;
        }
      }
      .wrapper-bg-3 {
        @include grid-bg;

        .bg-color-violet {
          grid-column: 3/ 11;
          grid-row: 1/12;
        }
        .img-small {
          grid-column: 2;
          grid-row: 2/12;
          align-self: center;
        }
        .img-big {
          grid-column: 8 / span 12;
          grid-row: 3/11;
          align-self: center;
        }
      }
      .wrapper-bg-text {
        @include grid-img-text;
        .bg-left-text{
          grid-column: 2;
        }
        .bg-blue{
          grid-column: 7 / 12;
          grid-row: 1;
        }
        .bg-text{
          grid-column: 8 / 11;
          grid-row: 1;
          

          a{
            margin-top: 1.9rem;
          display: block;          }
        }
     
      }
    }
  }
}

//media queries


