@mixin grid {
    display: grid;
    grid-template-columns: repeat(12, 8.3%);
    @include gap
}
@mixin gap {
    padding: calc(100vh/12) 0 ;
}

@mixin center-body{
    justify-self: center;
    max-width: 800px;
}

@mixin grid-text{
    display: grid;
    grid-template-columns: repeat(12, 8.3%);
   
}
@mixin grid-img{
   
    display: grid;
    grid-template-columns: repeat(12, 8.3%);

}

@mixin grid-bg{
    display: grid;
    grid-template-columns: repeat(12, 8.3%);
    grid-template-rows: repeat(12,77.5px) ;
 
}

@mixin grid-bg-2 {
    display: grid;
    grid-template-columns: 8.313rem 33.313rem 8.313rem  8.313rem 33.312rem 8.313rem;
    grid-template-rows: 8.313rem 25rem 8.313rem 25rem 8.313rem;
    height: 75rem;
}
@mixin grid-img-text{
    @include gap;
    display: grid;
    grid-template-columns: repeat(12, 8.3%);
    grid-auto-rows: max-content;
    padding-top:0;

}