@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.25rem;
}

body {
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  background-color: #f3f3f3;
}
body .wrapper {
  max-width: 1600px;
  background-color: #fff;
}
body .wrapper .hero-grid {
  display: grid;
  grid-template-columns: repeat(12, 8.3%);
  padding: 8.3333333333vh 0;
  padding-top: 0;
  grid-template-rows: minmax(100px, 100vh);
  grid-template-areas: ". header header header header header header header header header header .";
  padding-bottom: 0;
}
body .wrapper .body-container .wrapper-text {
  display: grid;
  grid-template-columns: repeat(12, 8.3%);
  padding: 8.3333333333vh 0;
  row-gap: 0;
  grid-template-rows: auto;
  grid-template-areas: ". . . title title title title title title . . ." ". . . text text text text text text . . .";
}
body .wrapper .body-container .wrapper-text:nth-of-type(2), body .wrapper .body-container .wrapper-text:nth-of-type(4) {
  padding-top: 0;
}
body .wrapper .body-container .wrapper-text .body-title {
  grid-area: title;
  justify-self: center;
  max-width: 800px;
}
body .wrapper .body-container .wrapper-text .body-text {
  grid-area: text;
  justify-self: center;
  max-width: 800px;
}
body .wrapper .body-container .wrapper-text .body-text:nth-of-type(1) {
  padding-top: 0;
}
body .wrapper .body-container .wrapper-text .body-text:nth-of-type(2) {
  grid-row: 4;
}
body .wrapper .body-container .wrapper-video {
  display: grid;
  grid-template-columns: repeat(12, 8.3%);
}
body .wrapper .body-container .wrapper-video .youtube {
  grid-column: 4/span 6;
  min-height: 28.125rem;
  width: 100%;
}
body .wrapper .body-container .wrapper-video .ytb-edito {
  grid-row: 4;
  grid-column: 4/span 6;
}
body .wrapper .body-container .wrapper-bg {
  display: grid;
  grid-template-columns: repeat(12, 8.3%);
  grid-template-rows: repeat(12, 77.5px);
  padding-top: 0;
}
body .wrapper .body-container .wrapper-bg .bg-yellow-item {
  min-height: 930px;
  grid-column: 6/span 12;
  background-color: #fbffa7;
}
body .wrapper .body-container .wrapper-bg .left-bg {
  grid-column: 2/6;
  grid-row: 2/span 10;
  align-self: center;
}
body .wrapper .body-container .right-bg {
  grid-row: 5/9;
  grid-column: 8/span 12;
  align-self: center;
}
body .wrapper .body-container .wrapper-bg-2 {
  display: grid;
  grid-template-columns: 8.313rem 33.313rem 8.313rem 8.313rem 33.312rem 8.313rem;
  grid-template-rows: 8.313rem 25rem 8.313rem 25rem 8.313rem;
  height: 75rem;
}
body .wrapper .body-container .wrapper-bg-2 .bg-color {
  grid-column: 1/span 4;
  grid-row: 1/span 12;
}
body .wrapper .body-container .wrapper-bg-2 .bg-right {
  grid-column: 4/6;
  grid-row: 3;
  align-self: center;
}
body .wrapper .body-container .wrapper-bg-2 .bg-top {
  min-width: 33.3rem;
  grid-column: 2/span 5;
  grid-row: 2;
}
body .wrapper .body-container .wrapper-bg-2 .bg-bottom {
  min-width: 33.3rem;
  grid-column: 2/span 5;
  grid-row: 4;
}
body .wrapper .body-container .wrapper-img {
  display: grid;
  grid-template-columns: repeat(12, 8.3%);
}
body .wrapper .body-container .wrapper-img .img-poster {
  grid-column: 2/span 10;
  max-width: 100%;
}
body .wrapper .body-container .wrapper-bg-3 {
  display: grid;
  grid-template-columns: repeat(12, 8.3%);
  grid-template-rows: repeat(12, 77.5px);
}
body .wrapper .body-container .wrapper-bg-3 .bg-color-violet {
  grid-column: 3/11;
  grid-row: 1/12;
}
body .wrapper .body-container .wrapper-bg-3 .img-small {
  grid-column: 2;
  grid-row: 2/12;
  align-self: center;
}
body .wrapper .body-container .wrapper-bg-3 .img-big {
  grid-column: 8/span 12;
  grid-row: 3/11;
  align-self: center;
}
body .wrapper .body-container .wrapper-bg-text {
  padding: 8.3333333333vh 0;
  display: grid;
  grid-template-columns: repeat(12, 8.3%);
  grid-auto-rows: max-content;
  padding-top: 0;
}
body .wrapper .body-container .wrapper-bg-text .bg-left-text {
  grid-column: 2;
}
body .wrapper .body-container .wrapper-bg-text .bg-blue {
  grid-column: 7/12;
  grid-row: 1;
}
body .wrapper .body-container .wrapper-bg-text .bg-text {
  grid-column: 8/11;
  grid-row: 1;
}
body .wrapper .body-container .wrapper-bg-text .bg-text a {
  margin-top: 1.9rem;
  display: block;
}

* {
  font-family: futura-pt, sans-serif;
}

nav {
  text-transform: capitalize;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: #0000ff;
}

p {
  line-height: 1.5;
}

h1 {
  font-size: 9rem;
  font-weight: 500;
  font-family: futura-pt, sans-serif;
  color: #fd5948;
}

nav {
  padding-top: 20px;
}
nav .logo {
  align-items: center;
}
nav .menu {
  display: flex;
  align-items: center;
  border-bottom: 2px solid #eee;
  padding-bottom: 1.25rem;
}
nav .menu li {
  margin: 0 10px;
  padding: 0 10px;
  list-style: none;
}
nav .menu li:nth-child(-n+8) {
  max-width: 80px;
}
nav .menu li:nth-child(8) {
  color: #ff764d;
}
nav .menu li:nth-child(9) {
  margin-left: auto;
  color: #0000ff;
}
nav .menu li:nth-child(10) {
  font-size: 1rem;
}
nav .subnav {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 1rem 0;
  font-size: 1rem;
}
nav .subnav li {
  margin: 0 10px;
  padding: 0 10px;
}

.hero-background {
  grid-area: header;
  background-image: url(../img/header-img.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.hero-title {
  grid-area: header;
  align-self: center;
  justify-self: center;
}

.body-container .body-title {
  font-weight: 500;
  margin-bottom: 1.25rem;
}
.body-container .wrapper-text p:nth-of-type(2) {
  margin-top: 1.2rem;
}
.body-container .wrapper-text .youtube {
  min-height: 28.125rem;
  min-width: 50rem;
}
.body-container .wrapper-video .ytb-edito {
  margin-top: 0.5rem;
  font-size: 0.9rem;
  font-weight: 500;
  padding-top: 0;
}
.body-container .wrapper-bg-2 .bg-color {
  min-height: 41.625rem;
  background-color: #b6ffc0;
}
.body-container .wrapper-bg-2 .bg-right {
  min-height: 41.625rem;
  background-image: url(../img/bg-right.jpg);
  background-size: cover;
}
.body-container .wrapper-bg-2 .bg-top,
.body-container .wrapper-bg-2 .bg-bottom {
  max-width: 33rem;
  max-height: 25rem;
}
.body-container .wrapper-bg-2 .bg-top {
  background-image: url(../img/bg-top.jpg);
  background-size: cover;
}
.body-container .wrapper-bg-2 .bg-bottom {
  background-image: url(../img/bg-bottom.jpg);
  background-size: cover;
}
.body-container .wrapper-bg-3 .bg-color-violet {
  background-color: #d5b3ff;
  min-height: 58.313rem;
}
.body-container .wrapper-bg-3 .img-small {
  max-width: 33.3333333333vw;
}
.body-container .wrapper-bg-3 .img-big {
  max-width: 41.6666666667vw;
}
.body-container .wrapper-bg-text {
  border-bottom: 1px solid #fff;
}
.body-container .wrapper-bg-text .bg-left-text {
  max-width: 41.6666666667vw;
}
.body-container .wrapper-bg-text .bg-blue {
  background-color: #b1c5ff;
}
.body-container .wrapper-bg-text .bg-text {
  align-self: center;
  font-size: 1.875rem;
  line-height: 1.4;
  font-weight: 400;
}
.body-container .wrapper-bg-text .bg-text a {
  margin-top: 1.9rem;
}

@media screen and (min-width: 100rem) {
  body .wrapper .body-container .wrapper-bg-3 .img-small {
    max-width: 33.313rem;
  }
  body .wrapper .body-container .wrapper-bg-3 .img-big {
    max-width: 41.663rem;
  }
}

/*# sourceMappingURL=style.css.map */
